@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --darkgreen: #264653;
    --lightgreen: #2A9D8F;
    --yellow: #E9C46A;
    --orange: #F4A261;
    --darkorange: #E76F51;
    --white: #fdfaf3;
    --darkgreen-dark: #1a2f38;
    --lightgreen-dark: #227e73;
    --yellow-dark: #e4b648;
    --orange-dark: #f18c3c;
    --darkorange-dark: #e2522f;
    --white-dark: #f8edd1;
}

/*=============================================
=            CSS reset            =
=============================================*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    text-align: center;
    color: var(--white);

}

html,
body {
    height: 100%;
}

html {
    font-size: 30px;
}

input,
textarea,
button {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    outline: none;
    appearance: none;
    text-align: left;
}

input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus,
button:hover,
button:active,
button:focus {
    outline: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}


/*=============================================
=            Styling            =
=============================================*/

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'PT Sans', sans-serif;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    background-color: #A9C9FF;
    background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);

}

/* Grid */
.calculator {
    max-width: 15rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr, repeat(5, 1fr);
    grid-auto-flow: row;

    grid-template-areas:
        "display display display display"
        "sum substract multiply divide"
        "seven eight nine equals"
        "four five six equals"
        "one two three equals"
        "zero period clear equals";
    box-shadow: 0.3px 0.5px 0.6px hsl(317deg 45% 63% / 0.33),
        1px 2.1px 2.4px -0.5px hsl(317deg 45% 63% / 0.31),
        2px 4.1px 4.8px -1px hsl(317deg 45% 63% / 0.29),
        3.7px 7.4px 8.6px -1.5px hsl(317deg 45% 63% / 0.28),
        6.6px 13.1px 15.3px -2px hsl(317deg 45% 63% / 0.26),
        11.1px 22.2px 25.9px -2.5px hsl(317deg 45% 63% / 0.24),
        17.8px 35.5px 41.4px -3px hsl(317deg 45% 63% / 0.23);
    ;

}

.btn {
    background-color: var(--yellow);
    border: 1px solid var(--yellow-dark);
    cursor: pointer;
    text-align: center;
}

.btn:focus {
    background-color: var(--yellow-dark);
    border: 1px solid var(--yellow);
}

.display {
    grid-area: display;
    background-color: var(--darkgreen);
    border: 1px solid var(--darkgreen-dark);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem 0.75rem;
    text-align: right;
    min-height: 3.75rem;
    overflow: hidden;
}

.current-operand {
    font-size: 1.5rem;
}

.btn-operator {
    background-color: var(--lightgreen);
    border: 1px solid var(--lightgreen-dark);
}

.btn-operator:focus {
    background-color: var(--lightgreen-dark);
    border: 1px solid var(--lightgreen);
}

.equals {
    background-color: var(--darkorange);
    border: 1px solid var(--darkorange-dark);
}

.equals:focus {
    background-color: var(--darkorange-dark);
    border: 1px solid var(--darkorange);
}

.sum {
    grid-area: sum;
}

.substract {
    grid-area: substract;
}

.multiply {
    grid-area: multiply;
}

.divide {
    grid-area: divide;
}

.equals {
    grid-area: equals;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.zero {
    grid-area: zero;
}

.period {
    grid-area: period;
}

.clear {
    grid-area: clear;
}

.btn {
    padding: 0.5em 1.25em;

}

/*=====  End of Styling  ======*/